/* 1st section background color - #FFFFFF */
/* 2nd section and footer background color - #2F303A */
/* 3rd section bacckground color - #F5F5F5 */
/* 4th section bacckground color - #F5F4FA */
/* color: #DDA0DD - orchid*/
/* background color - #E6E6FA - lavender */
/* color 2 : #BA55D3 - medium orchid */
/* base text color #212121 */
/* secondary text color #757575 */
/* accent - #2196F3 */
/* primary background color - #FFFFFF */

* {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-text-color: rgba(255,255,255,0.6);
    --primary-background-color: #2F303A;
}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-title-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
p, h1, h2, h3, h4 {
    margin: 0;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Roboto, sans-serif;
}

/* container site-nav */

.container {
    outline: 2px solid tomato;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Logo */
.logo {
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;

    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {

    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}

/* contact links list */

.links .e-mail-link,
.links .phone-link {
    color: var(--primary-title-color);
    text-decoration: none;
}
.links .e-mail-link:hover,
.links .phone-link:hover,
.links .e-mail-link:focus,
.links .phone-link:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    outline: 3px solid orchid;

    background-color: var(--primary-background-color);
    text-align: center;

}

.hero .title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;

    background-color: var(--primary-background-color);
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero .button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    margin-top: 0;
    margin-bottom: 200px;
}

/* Section */

.section > .title {
    color: var(--primary-title-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 94px;
}

/* Skills */

.feature > .title {
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.feature > .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    margin-bottom: 118px;
}

/* what company does */



/* our team */

.container > .section > .title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
}
.employee > .photo {
    margin-bottom: 30px;
}
.employee > .name {
    color: var(--primary-title-color);
    margin-bottom: 10px;
}
.employee > .position {
    color: var(--primary-text-color);
    padding-bottom: 30px;
}

/* footer */

.page-footer {
    background-color: var(--primary-background-color);
    padding-top: 60px;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-footer .logo {
    color: var(--primary-white-color);
}
.page-footer .address {
    color: var(--primary-white-color);
    text-decoration: none;
    margin-top: 20px
}
.page-footer .contacts {
    padding-bottom: 60px;
}
.page-footer .contact {
    color: var(--secondary-text-color);
    text-decoration: none;
    margin-top: 9px;
}
/* button */

.button {
    display: inline-block;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 10px 32px;
    min-width: 216px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    text-align: center;
}
.button.primary { 
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    border-color: var(--accent-color);
}